img {
    max-width: 100%;
    height: auto;
    margin-bottom: 20px;
    display: block;
}
section {
    margin: 40px; 
}

body {
    background-color:rgb(255, 255, 238);
    font-family: Arial, Helvetica, sans-serif;
}

h1,
h2,
h3,
h4,
h5,
h6 {
    text-align: center;
}

h1 {
    font-size: 200%;
}
h4 {
    font-size: 150% ;
}
h5 {
    font-size: 100% ;
}
h1,
h4 {
    margin-top: 20px;
}

.s3 a {
    margin-top: 20px;
    display: inline-block;
    padding: 10px 20px;
    background-color: black;
    color: white;
    text-decoration: none;
    font-size: 10px;
    border-radius: 10px;
    margin-left: 40px;
    margin-right: auto;
}

.s3 a:hover {
    background-color: gray;
}


.loja {
    text-align: center;
    text-decoration: black;
}

.loja a {
    color: white;
    text-decoration: none;
    font-size: 20px;
    border-radius: 5px;
}

.s3 input {
    display: inline-block;
    padding: 10px 20px;
    background-color: white;
    text-decoration: none;
    border-radius: 5px;
}

footer {
    text-align: center;
}